.button {
    &--default {
        padding: 0 toRem(16);
        font-size: toRem(16);
        line-height: toRem(40);
        background-color: $blueDark;
        color: $white;
        border-radius: toRem(6);
    }
}