.button {
    @media (min-width: $desktop) {
        &--default {
            transition: .3s ease;
            transition-property: opacity;
            &:hover {
                opacity: .7;
            }
        }
    }
}