.input {
    position: relative;

    &__value {
        border-radius: toRem(8);
        border: 1px solid rgba($black, 0.08);
        padding: toRem(20) toRem(16);
        height: toRem(64);
        font-size: toRem(16);
        background-color: $white;
        color: rgba($black, 0.6);
        font-weight: 300;
    }

    &__placeholder {
        color: rgba($black, 0.6);
        position: absolute;
        font-size: toRem(16);
        top: 50%;
        left: toRem(20);
        transform: translateY(-50%);
        pointer-events: none;
    }

    &.focus {
        .input {
            &__placeholder {
                opacity: 0;
            }
        }
    }

    @media (min-width: $tablet) {
        &__value {
            padding: toRem(20) toRem(24);
        }

        &__placeholder {
            left: toRem(24);
        }
    }
}
