.main {
    padding: toRem(48) 0;

    text-align: center;

    &__title {
        font-size: toRem(32);
        line-height: toRem(48);
        margin-bottom: toRem(16);
    }

    &__table {
        margin-top: toRem(16);
    }

    h3 {
        font-weight: 700;
        font-size: toRem(16);
        line-height: toRem(24);
        margin-bottom: toRem(8);
    }

    &__input {
        width: 80%;
        margin: 0 auto toRem(16);
    }
}