.table {
    padding-top: toRem(24);
    border: 1px solid $grayBlueLight;
    border-radius: toRem(6);
    overflow: hidden;
    position: relative;

    transition: .3s ease;
    transition-property: height;

    height: toRem(240);

    table {
        border-collapse: collapse;
        width: 100%;
        opacity: 0;
        transition: .3s ease;
        transition-property: opacity;
        transition-delay: .3s;
        &.loaded {
            opacity: 1;
        }
    }

    th, td {
        padding: toRem(8);
        min-width: toRem(48);
        text-align: left;
        border-bottom: 1px solid $grayBlueMedium;
    }

    th {
        font-weight: 700;
        border-top: 1px solid $grayBlueMedium;
        position: relative;

        transition: .3s ease;
        transition-property: background-color;

        &::before {
            content: '\e901';
            font-family: $icon;
            position: absolute;
            right: toRem(8);
            top: 50%;
            transform: translateY(-50%);
            color: $blueDark;
            transition: .3s ease;

            transition-property: color, transform, opacity;
            opacity: 0;
            font-size: toRem(12);
        }

        &:hover {
            background-color: $grayBlueLight;
            &::before {
                opacity: 1;
            }
        }

        &.sort {
            &::before {
                color: $redDark;
                opacity: 1;
            }

            &--increase {
                &::before {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }
    }

    tr {
        cursor: pointer;
        transition: .3s ease;
        transition-property: background-color;
        &.hover {
            &:hover {
                background-color: $grayBlueLight;
            }
        }
    }

    &__search {
        width: 80%;
        margin: 0 auto toRem(24);
    }

    &__pagination {
        margin-top: toRem(16);
    }

    &__placeholder,
    &__error {
        max-width: toRem(480);
        font-size: toRem(16);
        line-height: toRem(24);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__preloader {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: rgba($white, .7);

        transition: .3s ease;
        transition-property: opacity;
        pointer-events: none;
        opacity: 0;

        &.active {
            opacity: 1;
        }
    }
}

.lds-roller {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $black;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
